{% extends 'basic.html' %}
{% block title %} Scoreboard {% endblock %}

{% block body %}

<h2 class="head">Scoreboard</h2>

<table class="table table-striped table-bordered ">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        {% for i in users %}
        <tr>
            <th scope="row">{{ i.user_name}}</th>
            <td>{{ i.score }}%</td>
        </tr>

        {% endfor %}

    </tbody>
</table>
{% endblock %}